<% hidden = false unless local_assigns[:hidden] %>
<%= form_for([:admin, station], html: { style: "display: #{hidden ? 'none' : 'block'}" }) do |form| %>
<%= render 'common/errors', resource: station %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :railway_station_title %>
  </div>

  <div class="actions">
    <% if station.new_record? %>
      <%= form.submit t('common.submit') %>
    <% else %>
      <%= form.submit t('common.update') %>
    <% end %>
  </div>
<% end %>
