<p>
  <strong><%= t('admin.routes.show.title')%>:</strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('admin.railway_stations.index.list')%>:</strong>
</p>

<p>
  <% if @route.railway_stations.count.positive? %>
  <table>
  <thead>
    <tr>
      <th><%= t('admin.routes.form.title')%></th>
      <th><%= t('admin.routes.form.current_position')%></th>
      <th><%= t('admin.routes.form.arrival_time')%></th>
      <th><%= t('admin.routes.form.departure_time')%></th>
    </tr>
  </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <th> <strong><%= station.title %></strong></th>
          <th>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= number_field_tag :position, station.position_in(@route.id) %>
              <%= submit_tag t('common.update') %>
            <% end %> 
          </th>

          <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
            <th>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= datetime_field_tag :arrival_time, station.arrival_time(@route.id) %>
            </th>
            <th>
              <%= datetime_field_tag :departure_time, station.departure_time(@route.id) %>
              <%= submit_tag t('common.update') %>
            </th>
          <% end %>
        </tr>
      <% end %>
   </tbody>
  </table>
  <% end %>
</p>

<p>
  <strong><%= t('admin.routes.form.route_trains')%>:</strong>
</p>

<p>
  <% if @route.trains.count.positive? %>
    <ul>
      <% @route.trains.each do |station| %>
        <li> №:  <%= station.number %>  </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
