<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.user.id %></td>
  <td><%= ticket.user_first_name %></td>
  <td><%= ticket.user_last_name %></td>
  <td><%= ticket.user_middle_name %></td>
  <td><%= ticket.user_passport %></td>
</tr>