<h1><%= t('public.tickets.index.title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('public.tickets.table.ticket_id') %> | </th>
    <th><%= t('public.tickets.table.user')%> | </th>
    <th><%= t('public.tickets.table.user_email')%> | </th>
    <th><%= t('public.tickets.table.user_name')%> | </th>
    <th><%= t('public.tickets.table.user_last_name')%> | </th>
    <th><%= t('public.tickets.table.user_middle_name')%> | </th>
    <th><%= t('public.tickets.table.user_passport')%> </th>
  </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>