<p>
  <strong><%= t('public.tickets.table.train_number')%>:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong><%= t('public.tickets.table.user_email')%>: </strong>
  <%= @ticket.user.email %>
</p>

<p>
  <strong><%= t('public.tickets.table.user_name')%>: </strong>
  <%= @ticket.user_first_name %>
</p>

<p>
  <strong><%= t('public.tickets.table.user_last_name')%>: </strong>
  <%= @ticket.user_last_name %>
</p>

<p>
  <strong><%= t('public.tickets.table.user_passport')%>: </strong>
  <%= @ticket.user_passport %>
</p>

<br> 
<%= link_to t('common.delete'), ticket_path(@ticket), method: :delete if current_user == @ticket.user %> 
<%= link_to t('common.back'), tickets_path %>
