<%= form_with(model: carriage, local: true) do |form| %>
   <% if carriage.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(carriage.errors.count, "error") %> prohibited this carriage from being saved:</h2>
 
       <ul>
       <% carriage.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
 
   <div class="field">
     <%= form.label :top_seats %>
     <%= form.number_field :top_seats %>
   </div>
 
   <div class="field">
     <%= form.label :bottom_seats %>
     <%= form.number_field :bottom_seats %>
   </div>

    <div class="field">
      <%= form.label :train %>
      <%= form.collection_select :train_id, Train.all, :id, :number  %>
   </div>
 
   <div class="actions">
     <%= form.submit %>
   </div>
<% end %>