<tr>
  <td><%= carriage.id %></td>
  <td><%= carriage.type %></td>
  <td><%= carriage.top_seats %></td>
  <td><%= carriage.bottom_seats %></td>
  <td><%= carriage.train.number %></td>
  <td><%= carriage.number %></td>
  <td>
    <%= link_to t('common.show'), admin_carriage_path(carriage.id) %>
    <%= link_to t('common.delete'), admin_carriage_path(carriage.id), method: :delete, data: { confirm: t('common.delete_question') } %>
  </td>
</tr>