 <h1><%= t('admin.carriages.index.title')%></h1>
 
 <table>
   <thead>
     <tr>
       <th><%= t('admin.carriages.form.id')%> | </th>
       <th><%= t('admin.carriages.form.carriage_type')%> | </th>
       <th><%= t('admin.carriages.form.top_places')%> | </th>
       <th><%= t('admin.carriages.form.bottom_places')%> | </th>
       <th><%= t('admin.carriages.form.train_number')%> | </th>
       <th><%= t('admin.carriages.form.carriage_number')%> | </th>
       <th colspan="3"></th>
     </tr>
   </thead>
 
   <tbody>
     <% @carriages.each do |carriage| %>
       <%= render partial: 'carriage', object: carriage %>
     <% end %>
   </tbody>
 </table>