<p>
  <strong><%= t('admin.carriages.form.train_number')%>:</strong>
  <%= @carriage.train.number %><br/>
</p>

<% case @carriage.type %>
  <% when "SeatCarriage" %>
  <p>
    <strong>Seating places in carriage:</strong>
    <%= @carriage.seating_place %><br/>
  </p>

  <% when "CoupeCarriage" %>
  <p>
    <strong><%= t('admin.carriages.form.bottom_places')%>:</strong>
    <%= @carriage.bottom_seats %><br/>
    <strong><%= t('admin.carriages.form.top_places')%>:</strong>
    <%= @carriage.top_seats %>  <br/>
  </p>

  <% when "EconomyCarriage" %>
  <p>
    <strong>Bottom Places in carriage:</strong>
    <% @carriage.bottom_seats %><br/>
    <strong>Top Places in carriage:</strong>
    <% @carriage.top_seats %><br/>
    <strong>Side Bottom Places in carriage:</strong>
    <% @carriage.side_bottom_seats %><br/>
    <strong>Side Top Places in carriage:</strong>
    <% @carriage.side_top_seats %><br/>
  </p>

  <% when "SvCarriage" %>
  <p>
    <strong>Bottom Places in carriage:</strong>
    <% @carriage.bottom_seats %><br/>
  </p>
<% end %>

<%= link_to t('common.back'), admin_trains_path %>