<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong> Route: </strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Route is not indicated
  <% end %>
</p>

<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    It is not indicated
  <% end %>
</p>

<p>
<% if @train.carriages.empty? %>
    Any carriages here
  <% else %>
    <strong> Carriages: </strong>
    <ul>
      <% @train.carriages.each do |carriage| %>
        <%= link_to "#{carriage.number}", carriage_path(carriage) %>
      <% end %>
    </ul>
  <% end %>
</p>

<p><strong> Total top seats: </strong> <%= @train.total_number_of_seats('CoupeCarriage', 'top_seats') %></p>
<p><strong> Total top seats: </strong> <%= @train.total_number_of_seats('CoupeCarriage', 'bottom_seats') %></p>

<br> 


<%= link_to 'Add carriage', new_train_carriage_path(@train) %> |
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
