<p>
  <strong><%= t('admin.trains.index.number')%></strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('routes.show.title')%> </strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    <%= t('routes.messages.route_not_set')%>
  <% end %>
</p>

<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    It is not indicated
  <% end %>
</p>

<p>
  <% if @train.carriages.count.positive? %>
    <strong> Carriages: </strong>
    <ul>
      <% @train.carriages.each do |carriage| %>
        <%= link_to "#{carriage.number}", admin_carriage_path(carriage) %>
      <% end %>
    </ul>
  <% end %>
</p>

<p><strong> Total top seats: </strong> <%= @train.total_number_of_seats('CoupeCarriage', 'top_seats') %></p>
<p><strong> Total top seats: </strong> <%= @train.total_number_of_seats('CoupeCarriage', 'bottom_seats') %></p>

<br> 


<%= link_to t('admin.carraiges.new.add_carriage'), new_admin_train_carriage_path(@train) %> |
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
